<div class="club-ladder-data" [ngClass]="{'finals': club.rank === 8}">
  <a [routerLink]="['/details', club.id]">
    <div class="club-rank">
      <span>{{ club.rank }}</span>
    </div>
  </a>
  <a [routerLink]="['/details', club.id]">
    <div class="club-logo"><img [src]="club.logo" alt="Logo" /></div>
  </a>
  <a [routerLink]="['/details', club.id]">
    <div class="club-name">
      <span translate="no">{{ club.name }}</span>
    </div>
  </a>
  <a [routerLink]="['/details', club.id]">
    <div class="club-points">
      <span>{{ club.pts }}</span>
    </div>
  </a>
  <a [routerLink]="['/details', club.id]">
    <div class="club-played">
      <span>{{ club.played }}</span>
    </div>
  </a>
  <a [routerLink]="['/details', club.id]">
    <div class="club-wins">
      <span>{{ club.wins }}</span>
    </div>
  </a>
  <a [routerLink]="['/details', club.id]">
    <div class="club-draws">
      <span>{{ club.draws }}</span>
    </div>
  </a>
  <a [routerLink]="['/details', club.id]">
    <div class="club-losses">
      <span>{{ club.losses }}</span>
    </div>
  </a>
  <a [routerLink]="['/details', club.id]">
    <div class="club-percentage">
      <span>{{ club.percentage | number : "1.1-1" }}</span>
    </div>
  </a>
</div>
