header {
  display: block;
  margin: 8px 0px 0px 0px;
}

header span h1 {
  color: var(--clr-accent-primary);
  font-family: var(--ff-accent);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  padding: 4px;
  text-align: centre;
}