.club-header {
  align-items: center;
  color: var(--TitleColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* .club-logo:last-child{
  display: none;
} */

.club-logo {
  position: relative;
  height: 28vw;
  width: 28vw;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 16px;
}

/* .club-logo img {
  height: 100%;
  width: 100%;
  padding: 20px;
} */

.club-data {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
  height: min(40px, 2rem);
  padding: 0px 8px;
  text-align: center;
}

.round {
  text-align: center;
  width: clamp(6vw, 10px, 24px);
}

.opposition {
  padding: 0px 16px;
  text-align: left;
  width: clamp(25vw, 100px, 240px);
}

.venue {
  padding: 0px 16px;
  text-align: left;
  width: clamp(20vw, 100px, 240px);
}

.result {
  display: inline-block;
  width: var(--DataSpanWidth);
}

.grey-box {
  background-color: gray;
  color: white;
}

.green-box {
  background-color: green;
  color: white;
}

.red-box {
  background-color: red;
  color: white;
}

.for, .against {
  display: flex;
  flex-direction:row;
  align-items: baseline;
  justify-content: center;
  width: clamp(20vw, 80px, 240px);
}

.scores{
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: baseline;
}

.score {
  width: var(--DataSpanWidth);
  padding: 2px;
}


.goals, .behinds{
  font-size: clamp(0.75rem, 1vw, 2rem);
}

.total {
  font-size: clamp(1rem, 1vw, 2.5rem);
  font-weight: 600;
}

/* @media screen and (min-width: 576px) {
  .club-header{
    flex-direction: row;
  }
  .club-logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .club-name{
    padding-left: 32px;
  }
} */
