.club-header {
  align-items: center;
  color: var(--TitleColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

/* .club-logo:last-child{
  display: none;
} */

.club-logo {
  height: 20vw;
  width: 20vw;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.club-logo img {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.club-data {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
  height: min(40px, 2rem);
  padding: 0px 8px;
  text-align: center;
}

.round {
  text-align: center;
  width: clamp(6vw, 10px, 24px);
}

.opposition {
  padding: 0px 16px;
  text-align: left;
  width: clamp(25vw, 100px, 240px);
}

.venue {
  padding: 0px 16px;
  text-align: left;
  width: clamp(20vw, 100px, 240px);
}

.result {
  width: var(--DataSpanWidth);
}

.for{
width: clamp(20vw, 100px, 240px);
}

.against{
  width: clamp(20vw, 100px, 240px);
}



.score {
  width: var(--DataSpanWidth);
  padding: 0px 8px;
  text-align: left;
}






/* @media screen and (min-width: 576px) {
  .club-header{
    flex-direction: row;
  }
  .club-logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .club-name{
    padding-left: 32px;
  }
} */
