:host {
  height: calc(100% - 24px);
}

header {
  display: block;
  margin: 8px 0px 0px 0px;
}

header span h1 {
  color: var(--TitleColor);
  font-family: var(--MainFont);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  padding: 4px;
  text-align: centre;
}

.content {
  display: flex;
  flex-direction: column;
}
