<div class="club-ladder-header">
  
    <div class="club-rank">
      <span>#</span>
    </div>
  
    <div class="club-logo"></div>
  
    <div class="club-name">
      <span translate="no">Club</span>
    </div>
  
    <div class="club-points">
      <span>Pts</span>
    </div>
  
    <div class="club-played">
      <span>P</span>
    </div>
  
    <div class="club-wins">
      <span>W</span>
    </div>
  
    <div class="club-draws">
      <span>D</span>
    </div>
  
    <div class="club-losses">
      <span>L</span>
    </div>
  
    <div class="club-percentage">
      <span>%</span>
    </div>
  
</div>
