/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.var.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  font-display: fallback;
}

:root {
  --MainFont: "Inter", sans-serif;
  --TitleColor: #221cd6;
  --ClubDataColor: #1a1a1a;

  --DataSpanWidth: clamp(6vw, 10px, 24px);
  --secondary-color: #8b89e6;
  --accent-color: whitesmoke;
  --shadow-color: #e8e8e8;


}

html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: var(--MainFont), sans-serif;
  width: min(1000px, calc(70% + 100px));
  margin:auto;
}

section{
  padding: 20px 0px;
}

a {
  text-decoration: none;
}
