/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.var.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  font-display: fallback;
}

:root {
  --MainFont: "Inter", sans-serif;
  --TitleColor: #1d18bc;
  --ClubDataColor: #1a1a1a;

  --DataSpanWidth: clamp(6vw, 10px, 24px);

}

html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--MainFont), sans-serif;
  width: min(1200px, calc(80% + 120px));
  margin:auto;
  min-height: 100%;
}

section{
  padding: 4px 0px;
}

a {
  text-decoration: none;
}

footer{
  color: var(--MainFont);
  padding: 1rem;
  font-size: .75rem;
  text-align: center;
}
