<!-- <section>
      <table class="clubTable">
        <thead class="table-header">
          <tr>
            <th>#</th>
            <th>Club</th>
            <th>Points</th>
            <th>Played</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>Percentage</th>
          </tr>
        </thead>

        <tbody >
          <tr *ngFor="let club of clubLadder" class="table-row">
            <td class="table-data">
              <p class="listing-item">{{ club.rank }}</p>
            </td>
            <td class="table-data-club-name">
                <a [routerLink]="['/details', club.id]">
                  
                <p class="listing-heading">{{ club.name }}</p>
              </a>
              </td>

            <td class="table-data">
              <p class="listing-item">{{ club.pts }}</p>
            </td>
            <td class="table-data">
              <p class="listing-item">{{ club.played }}</p>
            </td>
            <td class="table-data">
              <p class="listing-item">{{ club.wins }}</p>
            </td>

            <td class="table-data">
              <p class="listing-item">{{ club.draws }}</p>
            </td>
            <td class="table-data">
              <p class="listing-item">{{ club.losses }}</p>
            </td>
            <td class="table-data">
              <p class="listing-item">{{ club.percentage | number : '1.2-2' }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </section> -->

    <section>
      <app-afl-club *ngFor="let club of clubLadder" [club] = "club">
        
      </app-afl-club>
    </section>
